body {
  background-color:rgb(202, 199, 199);
}
:root {
    --grid-cols: auto;
    --grid-rows: auto;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .box3{
    text-align: center;
  }
  .options{
    padding: 32px;
  }
  #resett,
  #rainbow,
  #black {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(133, 104, 104);
    padding: 8px;
    text-align: center;
  }
  .container {  
    display: grid;  
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;
    width: 450px;  
    height: 450px;
  }
  .grid-item {
    width: auto;  
    height: auto;
    border: 0.1px solid black;
    background-color: white;
    text-align: center;
    cursor: pointer;
  }
  .grid-item:hover,
  #resett:hover,
  #rainbow:hover,
  #black:hover {
    background-color: gray;
   }
   