body {
  background-color:rgb(202, 199, 199);
}
:root {
    --grid-cols: auto;
    --grid-rows: auto;
  }
  .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #resett {
    margin-top: 1%;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  .container {
    display: grid;  
    align-items: center;
    justify-content: center;
    /*grid-gap: 1em;*/
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
    box-shadow: 0.4em -0 .4em gray, -0.4em 0 .4em gray;
  }
  
  .grid-item {
    width: 25px;  
    height: 25px;
    /*border: 1px solid black;*/
    background-color: white;
    text-align: center;
    cursor: pointer;
  }
  .grid-item.show {
    background-color: black;
  }
  .grid-item:hover{
    background-color: gray;
   }
   